/* .main-btn {
    background-color: var(--red-color);
    color: var(--yellow-color);
    padding: 0.5rem 1rem;
  } */
.main-btn:hover {
  background-color: #dfdfdf;
}

.price-btn {
  color: #e07e1b;
}
.price-btn:hover {
  color: #e07e1b;
  background-color: #ffe6ce;
}
