.sell {
  text-decoration: none;
  color: #ff0000;
}

.sell:hover {
  text-decoration: underline;
}


.products-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}